.profile-view {
    &__links {
        margin-top: 50px;
    }

    &__link {
        border-bottom: 1px solid #EAEAEA;
        padding: 10px 0px;

        &_logout {
            border-bottom: none;

            a {
                color: var(--error-color);
            }
        }
    }
}