.registration {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  min-height: 350px;

  &__enter-link {
    display: block;
    text-align: center;
    margin-top: 14px;
    font-size: 11px;
    line-height: 11px;
  }

  &__footer {
    margin-top: 45px;
  }
}
