.profile-page {
  display: flex;
  min-height: 100vh;
  height: 100%;

  &__header {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 50px;
  }

  &__aside {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    min-height: 100vh;
    height: 100%;
    background-color: var(--bg-color-light);
  }

  &__content {
    display: flex;
    flex-grow: 1;
    justify-content: center;

    &-container {
      width: 550px;
      padding: 20px;
    }
  }

  &__avatar {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 130px;
    height: 130px;
    margin-top: 40px;
    border-radius: 100%;

    &-img {
      width: 100%;
      height: 100%;
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 130px;
      height: 130px;
      border-radius: 100%;
      background: #000;
      font-size: 13px;
      line-height: 14px;
      color: #fff;
      padding: 25px;
      text-align: center;
      cursor: pointer;
      opacity: 0;
      transition: 0.5s all;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
